src/main/resources/schemas/BasicDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservices.template.soap.com"
	targetNamespace="http://webservices.template.soap.com"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Basic" type="Basic" />
	<xs:complexType name="Basic">
		<xs:sequence>
			<xs:element name="id" type="xs:integer" />
			<xs:element name="content" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>  